@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.navbar{
    background-color:black;
    display:flex;
    justify-content:center;
    list-style: none;
}

.navbar a {
    color:white;
    padding: 24px 26px ;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
.navbar a:hover{
    background-color:#ace0f9;
    color:black;
}